<%- cache do -%>
<div class="info_head">
	<div class="napis">
		<h1>Do zrobienia.pl</h1>
		<h2>
			serwis w którym możesz w bardzo łatwo tworzyć i dzielić się <em>prostymi listami zadań</em>.
		</h2>
	</div>
</div>
<div class="bottom">
	<h2>Twoja własna lista.</h2>
	<p>
		Stwórz taką <em>listę</em> jaką chcesz z ulubionymi książkami, postępami w projekcie, listą osób do powiadomienia, postępem w przygotowaniach do przyjęcia itp.
	</p>

	<h2>Udostępnij swoją listę.</h2>
	<p>
		Udostępnij <em>listę</em> swoim znajomym, rodzinie lub uczyń ją prywatną.
	</p>

	<h2>Przypominamy, gdziekolwiek jesteś.</h2>
	<p>
		<em>Obserwujesz</em> daną <em>listę</em>? Otrzymuj <em>powiadomienia</em> na komunikator(<em>Jabber</em>) o zmianach jakie zachodzą w niej.
	</p>
</div>
<%- end -%>